@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: pink;
    font-family: 'poppins';
    background-size: cover;
    background-repeat: no-repeat;
    /*background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');*/
    /*background-image: url("https://th.bing.com/th/id/OIP.13YkNno2dQ7qZOaiUwDargHaEK?pid=ImgDet&rs=1");*/
    /*background-image: url("https://1.bp.blogspot.com/-swKkP6bVv-M/Ut_RpRJRiuI/AAAAAAAABD0/z5FRfPso6YA/s1600/ComputerDesktopWallpapersCollection760_089.jpg");*/
    background-image: url("https://th.bing.com/th/id/OIP.hU91ctToquCDv-e9567urwHaHa?pid=ImgDet&w=626&h=626&rs=1");
}

@media screen and (max-width: 500px) {

    body{
        background-color: pink;
    }
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Changed "align-content" to "align-items" */
    width: 100vw;
    min-height: 400px;
    max-height: 500px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    row-gap: 16px;
    border-radius: 12px;
    transition: 1s;
}

.heading{
    /*border: 2px solid black;*/
    font-size: larger;
    text-align: center;
    margin-bottom: 14px;
}
.heading h1{
    border: 2px solid black;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 7px;
    padding-right: 7px;
    border-left: 10px groove purple;
}

.input-field{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12px;

}
.start-game{

    width: max-content;
    height: max-content;

    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: 'poppins';
    font-weight: bold;
    border-radius: 12px;
    padding: 17px;
    font-size: 34px;
    margin-top: 16px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.text1{
    text-transform: uppercase;
    font-family: 'poppins';
    font-weight: bolder;
    font-size: 23px;
    text-align: center;
    color: white;
    background-color: black;
    width: 50px;
    height: max-content;
    border-radius: 16px;
    padding: 15px;
}
.text1:hover{
    box-shadow: red 5px 2px 2px;
}
.non-available-word {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     align-items: center;
     column-gap: 12px;
     transition: transform 1s; /* Use transform property for scaling */

 }



.unwanted{
    height: 40px;
    width: 50px;
    text-align: center;
    font-size: 33px;
    background-color: yellow;
    font-weight: bolder;
    padding-bottom: 10px;
    border: 2px solid black;
    border-radius: 12px;



}
.non-title{
    border: 2px solid black;
    display: none;
    text-align: center;
    padding: 9px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    transition: 0.4s;
    scale: 1;
}
.non-title:hover{
    scale: 0.6;
}

